.accueil{
  background-image: url("../assets/galaxyaccueil.jpg");
  background-size: cover;
  height: 750px;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-pseudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputPseudo {
  background-color:#FBEFF7 ;
  justify-content: center;
  padding: 20px;
  font-size: 2rem;
  color: #d542c6;
  border-color: #d542c6;
  border: 10px;
  border-radius: 20px;
  border: 10px solid #d542c6;
  opacity: 0.9;
}

.inputPseudo::placeholder{
  color: #d542c6;
}

.pictureAstro {
  position: absolute;
  height: 25rem;
  top: 140px;
  left: 900px;
}
.button-goToMap{
position: absolute;
width: 300px!important;
left: 460px;
bottom: 100px;
}

.home-validateButton{
  background-color: #d542c6;
  color: #FBEFF7;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 2rem;
  width: 50%;
}

.home-validateButton:hover{
  background-color: #FBEFF7;
  color: #d542c6;
  border: none;
}

.button-goToMap{
  width: 30%;
}