.accueil{
  background-image: url("../assets/galaxyaccueil.jpg");
  background-size: cover;
  height: 800px;
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.inputPseudo {
  background-color: #FF4EED;
  margin-left: 5%;
  justify-content: center;
}

.alienDiscours {
  margin-bottom: -49%;
  margin-left: 80%;
}

.pictureAstro {
  position: absolute;
  height: 25rem;
  top: 240px;
  left: 1000px;
  /* margin-bottom: 100%;
  margin-left: 200%; */
}