.map-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/bg-map.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.map-planet {
    /* background-image: rgb(255, 255, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 13em;
    width: 13em;
    background: none;
}

.notClickable-planet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0.3;
    height: 13em;
    width: 13em;
    background: none;
}

.map-planet-1 {
    background-image: url('../assets/planet-1.png');
    background-position: center;
    background-size: cover;
    top: 65vh;
    left: 10vw;
}

.map-planet-2 {
    background-image: url('../assets/planet-2.png');
    background-position: center;
    background-size: cover;
    top: 20vh;
    left: 30vw;
}

.map-planet-3 {
    background-image: url('../assets/planet-3.png');
    background-position: center;
    background-size: cover;
    top: 55vh;
    left: 55vw;
}

.map-planet-4 {
    background-image: url('../assets/planet-4.png');
    background-position: center;
    background-size: cover;
    top: 5vh;
    left: 75vw;
}

.map-not-possible {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000327;
    height: 12em;
    width: 20em;
    top: 30vh;
    left: 50px;
    z-index: 1;
    background-color: #3e81f5;
    opacity: 0.9;
    font-size: 1.5rem;
}

.button-backToHome {
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    background-color: azure;
    height: 300px;
    width: 300px;
    top: 30vh;
    left: 50px;
    z-index: 1;
    font-size: 2rem;
}

.button-final-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    background-color: azure;
    height: 300px;
    width: 300px;
    top: 30vh;
    left: 50px;
    z-index: 1;
    font-size: 2rem;
}