.backgroundGlitch{
    padding-top: 50px;
    background-image: url("src/assets/imgAreYou/blackhole.gif");
    background-size: cover;
    font-family: "Varela", sans-serif;
    height: 800px;
    width: 1280px;
    display:flex column;
    text-align: center;
}

.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    width: auto;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  @keyframes noise-anim {
    0% {
      clip: rect(6px, 9999px, 62px, 0);
    }
    5% {
      clip: rect(6px, 9999px, 42px, 0);
    }
    10% {
      clip: rect(42px, 9999px, 7px, 0);
    }
    15% {
      clip: rect(3px, 9999px, 60px, 0);
    }
    20% {
      clip: rect(26px, 9999px, 28px, 0);
    }
    25% {
      clip: rect(18px, 9999px, 69px, 0);
    }
    30% {
      clip: rect(72px, 9999px, 80px, 0);
    }
    35% {
      clip: rect(19px, 9999px, 63px, 0);
    }
    40% {
      clip: rect(70px, 9999px, 5px, 0);
    }
    45% {
      clip: rect(70px, 9999px, 80px, 0);
    }
    50% {
      clip: rect(7px, 9999px, 52px, 0);
    }
    55% {
      clip: rect(66px, 9999px, 44px, 0);
    }
    60% {
      clip: rect(8px, 9999px, 87px, 0);
    }
    65% {
      clip: rect(59px, 9999px, 82px, 0);
    }
    70% {
      clip: rect(68px, 9999px, 47px, 0);
    }
    75% {
      clip: rect(65px, 9999px, 53px, 0);
    }
    80% {
      clip: rect(13px, 9999px, 47px, 0);
    }
    85% {
      clip: rect(71px, 9999px, 84px, 0);
    }
    90% {
      clip: rect(89px, 9999px, 24px, 0);
    }
    95% {
      clip: rect(95px, 9999px, 42px, 0);
    }
    100% {
      clip: rect(8px, 9999px, 75px, 0);
    }
  }
  .glitch:after {
    padding-left: 190px;
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2 {
    0% {
      clip: rect(38px, 9999px, 92px, 0);
    }
    5% {
      clip: rect(11px, 9999px, 83px, 0);
    }
    10% {
      clip: rect(62px, 9999px, 54px, 0);
    }
    15% {
      clip: rect(34px, 9999px, 74px, 0);
    }
    20% {
      clip: rect(86px, 9999px, 41px, 0);
    }
    25% {
      clip: rect(59px, 9999px, 54px, 0);
    }
    30% {
      clip: rect(20px, 9999px, 31px, 0);
    }
    35% {
      clip: rect(40px, 9999px, 66px, 0);
    }
    40% {
      clip: rect(6px, 9999px, 3px, 0);
    }
    45% {
      clip: rect(64px, 9999px, 45px, 0);
    }
    50% {
      clip: rect(97px, 9999px, 78px, 0);
    }
    55% {
      clip: rect(31px, 9999px, 63px, 0);
    }
    60% {
      clip: rect(99px, 9999px, 37px, 0);
    }
    65% {
      clip: rect(97px, 9999px, 57px, 0);
    }
    70% {
      clip: rect(55px, 9999px, 7px, 0);
    }
    75% {
      clip: rect(22px, 9999px, 21px, 0);
    }
    80% {
      clip: rect(48px, 9999px, 60px, 0);
    }
    85% {
      clip: rect(64px, 9999px, 9px, 0);
    }
    90% {
      clip: rect(27px, 9999px, 42px, 0);
    }
    95% {
      clip: rect(40px, 9999px, 26px, 0);
    }
    100% {
      clip: rect(35px, 9999px, 73px, 0);
    }
  }
  .glitch:before {
    padding-left: 190px;
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }

  .buttonAreYou{
    margin: 100px;
    background-color: darkblue;
    color: white;
  }

  .buttonAreYou:hover{
    margin: 100px;
    background-color: darkgreen;
    color: white;
  }