.bubble
{
position: absolute;
top: 320px;
left: 520px;
width: 400px;
height: 180px;
padding: 7px;
background: #FFFFFF;
-webkit-border-radius: 59px;
-moz-border-radius: 59px;
border-radius: 59px;
border: #7F7F7F solid 9px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 0 10px 47px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
right: -47px;
top: 57px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 18px 0 18px 55px;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
right: -64px;
top: 49px;
}