.bubble
{
position: absolute;
top: 220px;
left: 320px;
width: 500px;
height: 250px;
padding: 7px;
background: #FBEFF7;
-webkit-border-radius: 59px;
-moz-border-radius: 59px;
border-radius: 59px;
border: #d542c6 solid 9px;
opacity: 0.9;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 0 10px 47px;
border-color: transparent #FBEFF7;
display: block;
width: 0;
z-index: 1;
right: -47px;
top: 57px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 18px 0 18px 55px;
border-color: transparent #d542c6;
display: block;
width: 0;
z-index: 0;
right: -64px;
top: 49px;
}

.text-bubble-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-bubble {
    padding: 1rem;
    margin: 0;
    color: #d542c6;
    font-size: 30px;
    line-height: 120% ;
}
.home-next-button {
    width: 40%;
    color: #d542c6;
    background: none;
    border: 2px solid #d542c6;
    font-size: 1.5rem;
}
