.findCristalBg3{
    background-image: url('./src/assets/bg-planet-3.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 800px;
    width: 1500px;
    position: relative;
}

.myCristal-toFind3{
    background: none;
    background-image: url('src/assets/crystal-3.png');
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 665px;
    right: 995px;
    opacity: 25%;
}

.myCrystal-container3{
    position: absolute;
    color: #10003f;
    top: 150px;
    right: 428px;
    background-color: #f792f0d1;
    padding: 60px;
    width: 500px;
    border-radius: 130px;
}

.myCristal3{
    background-image: url('src/assets/crystal-3.png');
    height: 300px;
    width: 300px;
}

.well-done3{
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #10003f;
    top: 150px;
    right: 328px;
    background-color: #f792f0d1;
    padding: 100px;
    border-radius: 130px;
    color: #10003f;
    font-size: large;
}

.btn-cristal-3 {
    background-color: #af42be;
    color: #10003f;
    font-size: 25px;
 }