.findCristalBg{
    background-image: url('src/assets/bg-planet-1.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 800px;
    width: 1500px;
    position: relative;
}

.myCristal-toFind{
    background: none;
    background-image: url('src/assets/crystal-1.png');
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 44px;
    right: 328px;
    opacity: 50%;
}

.myCrystal-container{
    position: absolute;
    color: #631428;
    top: 150px;
    right: 428px;
    background-color: rgb(224 96 68/ 87%);
    padding: 60px;
    width: 500px;
    border-radius: 130px;
    /* font-size: large; */
}
.myCristal {
    background-image: url('src/assets/crystal-1.png');
    height: 300px;
    width: 300px;
}

.well-done{
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    right: 328px;
    background-color: rgb(224 96 68/ 87%);
    padding: 100px;
    border-radius: 130px;
    color: #631428;
    font-size: large;
}

 .btn-cristal-1 {
    background-color: #edd343;
    color: #631428;
    font-size: 25px;
 }
