.findCristalBg{
    background-image: url('src/assets/bg-planet-1.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 800px;
    width: 1500px;
    position: relative;
}

.myCristal{
    background: none;
    background-image: url('src/assets/crystal-1.png');
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 328px;
}

.well-done{
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: black;
    top: 150px;
    right: 328px;
    background-color: rgb(255, 255, 255);
    padding: 100px;
}
